/* 전체 병원 리스트를 감싸는 컨테이너 */
.hospitals-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

/* 병원 섹션 */
.hospital-group {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 12px;
    text-align: left;
    transition: transform 0.3s ease;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Poor Story', cursive;
}

.hospital-group h3 {
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 25px;
    margin-bottom: 16px;
}

/* 리뷰 카드들을 그리드로 배치하는 컨테이너 */
.reviews-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 한 줄에 2개의 리뷰 */
    gap: 16px;
    margin-top: 16px;
    width: 100%;
    box-sizing: border-box;
}

/* 개별 리뷰 카드의 스타일 */
.review-card {
    background: #f4fce3;
    border-radius: 12px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: black;
    width: 100%;
    box-sizing: border-box;
    border: 5px solid #E3AB1B;
    font-family: 'Poor Story', cursive;
}

.review-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

/* 리뷰 제목과 내용 구분 */
.review-card strong {
    font-family: 'Do Hyeon', sans-serif;
    display: inline; /* 인라인 요소로 설정 */
    margin-right: 10px; /* 텍스트와 간격 조정 */
}

/* 리뷰 내용 스타일 */
.review-content {
    font-size: 15px;
    line-height: 1.6;
    color: black;
    margin-right: 60px;
}
