/* 전체 병원 리스트를 감싸는 컨테이너 */
.hospitals-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

/* 병원 섹션 */
.hospital-group {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    font-family: 'Poor Story', cursive;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 한 줄에 두 개의 카드 */
    gap: 20px;
}

.hospital-group h2 {
    grid-column: 1 / -1; /* 병원 이름을 그리드의 전체 폭으로 설정 */
    padding-left: 10px;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 30px;
    margin-bottom: 16px;
}

.hospital-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 한 줄에 2개의 카드 */
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Do Hyeon', sans-serif;
}

/* 개별 리뷰 카드의 스타일 */
.review-card {
    background: #f4fce3;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: black;
    width: 100%; /* 100%로 설정하여 그리드 셀에 맞게 확장 */
    box-sizing: border-box;
    font-family: 'Poor Story', cursive;
}

.review-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

/* 리뷰 제목과 내용 구분 */
.review-card strong {
    font-family: 'Do Hyeon', sans-serif;
    display: inline; /* 인라인 요소로 설정 */
    margin-right: 10px; /* 텍스트와 간격 조정 */
}

/* 리뷰 내용 스타일 */
.review-content {
    font-size: 15px;
    line-height: 1.6;
    color: black;
    margin-right: 60px;
}
