/* 진료 기록 테이블 스타일 */
.clinic-history-clinic-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 40px;
}

.clinic-history h2 {
    margin-left: 40px;
    margin-top: 20px;
}

.clinic-history-clinic-table th {
    background-color: #E3AB1B;
    /* 헤더의 배경 색상 */
    color: white;
    font-weight: bold;
    padding: 10px;
    border-bottom: 5px solid white;
}

.clinic-history-clinic-table td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.clinic-history-clinic-table td button {
    margin-left: 10px;
}

/* 리뷰 쓰기 버튼 스타일 */
.clinic-history-reviewUpdatebutton {
    background-color: white;
    color: black;
    border-color: #43ABAE;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 14px;
}

/* 페이징 스타일 */
.clinic-history-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.clinic-history-pagination button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
}

.clinic-history-pagination .clinic-history-active {
    color: black;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 5px 10px;
    background-color: #f0f0f0;
}

.clinic-history-pagination button:hover {
    background-color: #f0f0f0;
}

/* 진료기록 모달창 CSS */
.clinic-history-modal-overlay {
    position: fixed;
    top: 60px;
    left: 180px;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; /* 검은 배경 제거 */
}

.clinic-history-modal-content {
    background-color: #E3AB1B;
    padding: 20px;
    padding-top: 50px; /* 모달 상단의 여유 공간 추가 */

    width: 90%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.clinic-history-modal-content h2 {
    position: absolute;
    top: -10px;
    left: 120px;
    color: white; /* 글씨를 흰색으로 설정 */
    padding: 10px;
    font-size: 20px;
}

.clinic-history-modal-buttons {
    margin-top: 15px;
}

.clinic-history-modal-buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
}

.clinic-history-writebutton {
    background-color: #42b7bb;
    color: white;
}

.clinic-history-writeclosebutton {
    background-color: #fc5c65;
    color: white;
}

.clinic-history-modal-content textarea {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    resize: none;
    font-size: 16px;
    box-sizing: border-box;
    margin-top: 20px;
    height: 130px;
}