/* 검색 페이지 전체 배경색 설정 */
.hos-reser-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 화면 전체 높이 */
    background-color: #28467a; /* 메인 배경색 */
    color: white;
}

.search-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 45vh; 
    width: 100%;
}

.hos-reser-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #fff; /* 글자 색상 */
}

  /* 검색창 스타일 */
.hos-reser-search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; /* 검색창 아래 여백 추가 */
    position: relative; /* 이미지가 검색창 안에 위치하도록 설정 */
}

.hos-reser-input {
    width: 650px; /* 검색창 넓이 */
    padding: 20px; /* 검색창 높이 */
    font-size: 24px;
    border: none;
    border-radius: 50px; /* 둥근 모서리 */
    outline: none;
    padding-right: 70px; /* 검색창 내부 여백 (이미지가 겹치지 않게) */
    padding-left: 50px;
    font-family: 'Poor Story';
}

.search-icon {
    width: 60px; /* 이미지의 넓이 */
    height: 60px; /* 이미지의 높이 */
    position: absolute;
    right: 15px; /* 검색창 안의 오른쪽 끝에 배치 */
    top: 50%;
    transform: translateY(-50%); /* 이미지 수직 중앙 정렬 */
    cursor: pointer; /* 마우스를 올렸을 때 포인터 모양으로 변경 */
    animation: pulse 1s infinite; 
}

/* 애니메이션 정의 */
@keyframes pulse {
    0% {
      transform: translateY(-50%) scale(1); /* 원래 크기 */
    }
    50% {
      transform: translateY(-50%) scale(1.2); /* 커졌다가 */
    }
    100% {
      transform: translateY(-50%) scale(1); /* 다시 원래 크기로 */
    }
}

.search-icon:hover {
    animation: none; /* 호버 시 애니메이션 멈춤 */
    transform: translateY(-50%) scale(1.2); /* 호버 시 커진 상태 유지 */
}

.search-icon:active {
    transform: translateY(-50%) scale(1); /* 클릭 시 원래 크기로 돌아옴 */
}

.hos-reser-input::placeholder {
    color: #8a8a8a; /* 플레이스홀더 색상 */
    font-weight: lighter;
}

.hos-reser-search-results {
    position: absolute; /* 검색창 아래에 고정되도록 설정 */
    margin-top: 158px;
    margin-left: -10px;
    width: 700px; /* 검색창과 동일한 너비 */
    z-index: 1000; /* 다른 요소들 위에 표시되도록 설정 */
    max-height: 400px; /* 최대 높이 설정 (300px 정도, 필요에 맞게 조정 가능) */
    overflow-y: auto; /* 넘칠 경우 스크롤바 표시 */
    padding: 10px 0;
    font-family: 'Poor Story';
}

.hos-reser-search-result-item {
    border: 1.5px solid #000000;
    padding: 20px;
    cursor: pointer;
    width: calc(100% - 30px); /* 검색 결과 항목도 검색창의 너비에 맞게 설정 */
    margin: 5px auto;
    background-color: white;
    text-align: left;
    font-size: 15px;
    color: #000;
}

.hos-reser-search-result-item:hover {
    background-color: #eeeb51; /* 호버 시 배경색 */
    border: 1.5px solid #000000;
}

.hos-reser-search-result-item.selected {
    background-color: #eeeb51;
}

