/* Main.css */
.main-container {
    padding: 20px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 20px; /* 항목 간 간격 */
}

.nav-item {
    text-align: center; /* 텍스트 가운데 정렬 */
}

.nav-item img {
    width: 100px; /* 이미지 크기 조정 */
    height: 100px; /* 이미지 크기 조정 */
    display: block; /* 블록 요소로 설정 */
}

.nav-item span {
    display: block; /* 블록 요소로 설정하여 텍스트를 이미지 아래로 배치 */
    margin-top: 10px; /* 텍스트와 이미지 간 간격 */
    
}