.my-review-reviews-table {
    width: 115%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 40px;
}

.my-review-reviews h2 {
    margin-left: 40px;
    margin-top: 20px;
}

.my-review-reviews-table th {
    background-color: #E3AB1B;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-bottom: 5px solid white;
    text-align: center;
}

.my-review-reviews-table td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.my-review-view-btn, .my-review-review-delete-btn {
    padding: 5px 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
    color: white;
}

.my-review-view-btn {
    background-color: #43ABAE;
}

.my-review-review-delete-btn {
    background-color: #fc5c65;
}

.my-review-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 150px;
}

.my-review-pagination button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
}

.my-review-pagination .my-review-active {
    color: black;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 5px 10px;
    background-color: #f0f0f0;
}

.my-review-pagination button:hover {
    background-color: #f0f0f0;
}

/* 모달 CSS */
.my-review-modal-overlay {
    position: fixed;
    top: 60px;
    left: 180px;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; /* 검은 배경 제거 */
}

.my-review-modal-content {
    background-color: #E3AB1B;
    padding: 20px;
    padding-top: 50px; /* 모달 상단의 여유 공간 추가 */
    width: 90%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.my-review-modal-content h2 {
    position: absolute;
    top: -10px;
    left: 225px;
    transform: translateX(-50%);
    color: white; /* 글씨를 흰색으로 설정 */
    padding: 10px;
    font-size: 20px;
}

.my-review-modal-buttons {
    margin-top: 15px;
}

.my-review-modal-buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
}

.my-review-save-btn {
    background-color: #43ABAE;
    color: white;
    height: 36px;
}

.my-review-close-btn {
    background-color: #fc5c65;
    color: white;
    height: 36px;
}

.my-review-confirm-btn {
    background-color: #43ABAE;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
    color: white;
}

.my-review-modal-content textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    resize: none;
    font-size: 16px;
    box-sizing: border-box;
    margin-top: 20px;
    height: 130px;
}
