.userheader-container {
    padding: 10px;
    background-color: #28467A;
    color: white;
    height: 60px; /* 헤더 높이 */
    display: flex; /* Flexbox 사용 */
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: space-between; /* 양 끝 정렬 */
}

.logo-container {
    margin-left: 35px; /* 로고 이미지를 왼쪽에서 8px 떨어지도록 설정 */
}

.logo-link {
    display: flex; /* Flexbox 사용 */
    flex-direction: column; /* 수직 정렬 */
    align-items: center; /* 로고 이미지와 텍스트 수평 가운데 정렬 */
    text-decoration: none; /* 링크의 기본 밑줄 제거 */
}

.logo-container span {
    color: white; /* 텍스트를 하얀색으로 */
    font-size: 14px; /* 텍스트 크기 조정 */
    margin-top: -20px;
    margin-bottom: 20px;
}

.mainImage {
    width: 80px; /* 이미지 크기 축소 */
    height: 80px; /* 이미지 크기 축소 */
}

.usernav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 50px; /* 항목 간 간격 조정 */
    height: auto;
    margin-top: -3px;
    text-decoration: none; /* 링크의 기본 밑줄 제거 */
}

.usernav-item {
    display: flex; /* Flexbox 사용 */
    align-items: center; /* 아이콘과 텍스트 수직 가운데 정렬 */
    text-align: center;
    padding: 15px;
}

.usernav-item span {
    color: white;
    font-size: 14px; /* 텍스트 크기 조정 */
}

.logout-container {
    display: flex;
    align-items: center; /* 아이콘과 텍스트 수직 가운데 정렬 */
    margin-right: 30px;
}

.logout-container img {
    width: 25px; /* 로그아웃 아이콘 크기 */
    height: 25px; /* 로그아웃 아이콘 크기 */
    margin-right: 5px; /* 이미지와 텍스트 간 간격 */
}

.logout-container span {
    color: white; /* 텍스트를 하얀색으로 */
    font-size: 14px; /* 텍스트 크기 */
}
