.footer-container {
    background-color: #28467A; /* 헤더와 동일한 색상 */
    color: white;
    text-align: center;
    font-size: 14px;
    width: 100%; 
    margin-top: 20vh; 
    z-index: 1000; /* 다른 요소 위에 표시되도록 z-index 설정 */
    box-sizing: border-box; /* 전체 요소의 크기 계산에 padding과 border 포함 */
}