/* Hosheader.css */
.hosheader-container {
    width: 100%; /* 헤더가 화면 너비에 꽉 차도록 설정 */
    padding: 10px 0; /* 상하 여백만 남기고 좌우는 여백 제거 */
    background-color: #43ABAE; /* 배경색 설정 */
    color: white;
    height: 80px; /* 헤더 높이 축소 */
    display: flex; /* Flexbox 사용 */
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: space-between; /* 양 끝 정렬 */
    position: fixed; /* 화면 상단에 고정 */
    top: 0;
    left: 0;
    z-index: 1000; /* 다른 요소 위에 표시되도록 z-index 설정 */
    box-sizing: border-box; /* 전체 요소의 크기 계산에 padding과 border 포함 */
    font-family: 'Poor Story';
}

.logo-hoscontainer {
    margin-left: 35px; /* 로고 이미지를 왼쪽에서 8px 떨어지도록 설정 */
}

.logo-hoslink {
    display: flex; /* Flexbox 사용 */
    flex-direction: column; /* 수직 정렬 */
    align-items: center; /* 로고 이미지와 텍스트 수평 가운데 정렬 */
    text-decoration: none; /* 링크의 기본 밑줄 제거 */
}

.logo-hoscontainer span {
    color: white; /* 텍스트를 하얀색으로 */
    font-size: 14px; /* 텍스트 크기 조정 */
    margin-top: -20px;
    margin-bottom: 20px;
}

.mainImage {
    width: 80px; /* 이미지 크기 축소 */
    height: 80px; /* 이미지 크기 축소 */
}

.hosnav-list {
    list-style: none;
    display: flex;
    flex-direction: row; /* 가로 방향으로 정렬 */
    gap: 50px; /* 항목 간 간격 조정 */
    height: auto;
    text-decoration: none; /* 링크의 기본 밑줄 제거 */
}

.hosnav-item {
    display: flex; /* Flexbox 사용 */
    align-items: center; /* 아이콘과 텍스트 수직 가운데 정렬 */
    text-align: center;
    padding: 15px;
}

.hosnav-item span {
    color: white;
    font-size: 14px; /* 텍스트 크기 조정 */
}

.logout-hoscontainer {
    display: flex;
    align-items: center; /* 아이콘과 텍스트 수직 가운데 정렬 */
    margin-right: 30px;
}

.logout-hoscontainer img {
    width: 25px; /* 로그아웃 아이콘 크기 */
    height: 25px; /* 로그아웃 아이콘 크기 */
    margin-right: 5px; /* 이미지와 텍스트 간 간격 */
}

.logout-container span {
    color: white; /* 텍스트를 하얀색으로 */
    font-size: 5px;
}