.hos-header-container {
    width: 100%;
    padding: 10px 0;
    background-color: #43ABAE;
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
}

.hos-header-logo-container {
    margin-left: 35px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.hos-header-logo-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.hos-header-logo-container span {
    color: white;
    font-size: 14px;
    margin-top: -20px;
    margin-bottom: 20px;
}

.hos-header-mainImage {
    width: 80px;
    height: 80px;
}

.hos-header-nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 50px;
    text-decoration: none;
}

.hos-header-nav-item {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.hos-header-nav-item span {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.hos-header-nav-item a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

.hos-header-logout-container {
    display: flex;
    align-items: center;
    margin-right: 30px;
    cursor: pointer; /* 커서를 포인터로 변경하여 클릭 가능하게 표시 */
}

.hos-header-logout-container img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.hos-header-logout-container span {
    color: white;
    font-size: 14px;
    text-decoration: none !important;
}

.hos-header-logout-container a {
    text-decoration: none !important;
    font-weight: bold;
    color: inherit;
}
